body
{
    font-family: "ARIAL", serif;
    font-size: 10pt;
}

#datos_empresa
{
    font-size: 7pt;
}


#datos_factura
{
    font-weight: bold;
    font-size: 7pt;
}

table, td, th 
{
    border: 1px solid #ABABAB;
}
  
table 
{
    width: 100%;
    border-collapse: collapse;
}

th
{
    background-color: #8D9BFF;
    color: #fff;
}

#descarga
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

#descarga a
{
    text-decoration:none;
    color:#D7D7D7;
}