body
{
    font-family: "ARIAL", serif;
    font-size: 12pt;
}

#datos_empresa
{
    font-size: 7pt;
}


#datos_factura
{
    font-weight: bold;
    font-size: 7pt;
}

#datos_cliente
{
    
    justify-content: center;
    font-size: 6pt;
}

#datos_empleado
{
    
    justify-content: center;
    font-size: 6pt;
}

label
{
    font-weight: bold;
}

table, td, th 
{
    border: 1px solid #ABABAB;
}

td
{
    text-align: left;
}
  
table 
{
    width: 100%;
    border-collapse: collapse;
    font-size: 8pt;
}

th
{
    text-align: left;
    background-color: #979797;
    color: #fff;
}


#descarga
{
    float: left;
}

#descarga a
{
    text-decoration:none;
    color:#ADC4FF;
}

#salir
{
    float: right;
}

#salir a
{
    text-decoration:none;
    color:#FFAFA4;
}